@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src:
        local(''),
        url('~@/assets/fonts/barlow-v5-latin-300.woff2') format('woff2'),
        url('~@/assets/fonts/barlow-v5-latin-300.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src:
        local(''),
        url('~@/assets/fonts/barlow-v5-latin-italic.woff2') format('woff2'),
        url('~@/assets/fonts/barlow-v5-latin-italic.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src:
        local(''),
        url('~@/assets/fonts/barlow-v5-latin-regular.woff2') format('woff2'),
        url('~@/assets/fonts/barlow-v5-latin-regular.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src:
        local(''),
        url('~@/assets/fonts/barlow-v5-latin-700.woff2') format('woff2'),
        url('~@/assets/fonts/barlow-v5-latin-700.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src:
        local(''),
        url('~@/assets/fonts/barlow-v5-latin-700italic.woff2') format('woff2'),
        url('~@/assets/fonts/barlow-v5-latin-700italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Saans';
    font-weight: 100 1000;
    src:
        local(),
        url('~@/assets/fonts/SaansVF.woff2') format('woff2 supports variations'),
        url('~@/assets/fonts/SaansVF.woff2') format('woff2-variations');
}

code {
    -webkit-font-smoothing: auto;
    font-family: monospace;
}

p {
    margin: 0;
    padding: 0;
}

// Text styling
.text {
    &--underline {
        text-decoration: underline;
    }

    &--bold {
        font-weight: bold;
    }

    &--break-pre-line {
        white-space: pre-line;
    }

    &--break-word {
        white-space: normal;
        word-break: break-word;
    }

    &--break-all {
        word-break: break-all;
    }

    &--nowrap {
        white-space: nowrap;
    }

    &--align-right {
        text-align: right;
    }

    &--ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-hoverable:hover {
            word-wrap: break-word;
            white-space: normal;
        }
    }
}
