// Tabs bar
$tabs-tab-color: var(--theme-grey-light);
$tabs-tab-color-active: var(--theme-primary-dark);
$tabs-tab-color-hover: var(--theme-primary-dark);
$tabs-tab-color-active-hover: var(--theme-primary-dark);
$tabs-tab-bg: transparent;
$tabs-tab-bg-active: transparent;
$tabs-tab-bg-hover: transparent;
$tabs-tab-bg-active-hover: transparent;
