$zindex-full-screen-background: -1;
$zindex-field-input: -1;

$zindex-sidemenu-item-submenu: 1;

$zindex-field-icon-left: 4;
$zindex-field-icon-clear: 4;
$zindex-icon-left-search-input: 4;
$zindex-icon-clear-search-input: 4;

$zindex-hotcell-hover: 11;

$zindex-overlay: 103;
$zindex-loader-background: 103;

$zindex-hotcell-editor: 205;

$zindex-loader-indicator: 999;

$zindex-sidemenu-layout-not-sticky: 1001;

$zindex-sidemenu-layout-sidemenu: 1002;

$zindex-topbar: 1003;

$zindex-modal-active: 1005;

$zindex-tooltip: 1006;

$zindex-field-form: 1200;
$zindex-date-editor-dropdown: 1200;

$zindex-autocomplete-editor-dropdown: 1400;

$zindex-notification-bar: 2004;

$zindex-full-screen: 9999;
