@use '~@/assets/sass/theme';
.a-text-editor {
    flex-grow: 1;

    input,
    textarea {
        box-sizing: border-box;
        border-radius: 0;
        border: none;
        outline-width: 0;
        margin: 0;
        outline: 0;

        &::placeholder {
            color: theme.$grey-light;
            font-style: italic;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(54, 54, 54, 0.3);
            font-style: italic;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgba(54, 54, 54, 0.3);
            font-style: italic;
        }

        &::placeholder {
            color: rgba(54, 54, 54, 0.3);
            font-style: italic;
        }
    }

    textarea {
        height: calc(100%);
        width: calc(100%);
        overflow: auto;
        resize: none;
    }

    &.resizeable > textarea {
        resize: vertical;
    }

    .counter {
        display: inline-block;
        text-align: right;
        position: relative;
        top: -2.5em;
        font-size: smaller;
        color: theme.$grey-light;
        pointer-events: none;

        &:focus {
            outline: none;
        }

        span {
            pointer-events: auto;
        }

        &.limitReached {
            color: theme.$danger;
        }
    }
    input + .counter {
        display: none;
    }

    input:focus-within + .counter {
        display: inline-block;
        position: absolute;
        top: -1.5em;
        left: 1em;
    }
}
